.char-creator-div {
    width: 44%;
    padding-left: 10%;
    padding-top: 5%;
    display: inline-block;
}

.char-display-div {
    width: 44%;
    padding-top: 5%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

#char-name-input {
    width: 50%;
}


.input-fields {
    margin: 2% 0;
    width: 50%;
}
