.char-creator-div {
    width: 44%;
    padding-left: 10%;
    padding-top: 5%;
    display: inline-block;
}

.char-display-div {
    width: 44%;
    padding-top: 5%;
    display: inline-block;
    vertical-align: top;
}

#char-name-input {
    width: 50%;
}

.input-fields {
    margin: 2% 0;
    width: 50%;
}

.section {
    margin: 1%;
    font-size: 100%;
}

.inline {
    display: inline-block;
}

.label {
    font-size: 180%;
    margin: 1%;
}

.info {
    padding-top: 2%;
    margin-right: 2%;
    font-size: 140%;
    float: right;
}

.div-border {
    border: solid 5px black;
}